.businessCard {
    display: flex;
    height: 275px;
    width: 445px;
    box-shadow: 0 0 20px 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    /*background: url("../images/seamless-paper-texture-business-card-background.jpg");*/
}

.cardName {
    font-family: "Droid Sans Mono";
    font-size: 30px;
    color: #222223;
}

.spacing {
    padding: 20px;
}

p {
    margin: 0;
}