.businessCard {
    display: flex;
    height: 275px;
    width: 445px;
    box-shadow: 0 0 20px 0;
    justify-content: space-between;
    flex-direction: column;
    /*background-image: url("../images/seamless-paper-texture-business-card-background.jpg");*/
}

.cardName {
    font-family: "Arial Black";
    font-size: 35px;
    color: cadetblue;
}

.contactInfo {

}