.headerContainer {
    width: 90%;
    height: 100px;
    margin: 30px auto 0 auto;
}

.navLinkRight {
    float: right;
    margin-left: 25px;
    padding: 10px;
    color: #494c4e  ;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.navLinkLeft {
    float: left;
    margin-left: 25px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.navLinkLeft:hover {
    text-decoration: underline;
}

.navLinkRight:hover {
    text-decoration: underline;
}