.AppBody {
    height: calc(100vh - 136px);
}

.marg {
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    height: 100px;
    margin: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 20px 0 #696666;
}
.headerIcon {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.headerNav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.icon {
    margin-left: 25px;
    padding: 10px;
    color: #24292e;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.navLink {
    margin: 5px 0;
    padding: 5px 15px;
    border-right: 1px solid #24292e;
    color: #24292e  ;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.icon:hover {
    text-decoration: underline;
}

.navLink:hover {
    text-decoration: underline;
}

.active {
    background-color: #24292e !important;
    color: white !important;
    transition: 0.3s;
}

.active:hover {
    text-decoration: none !important;
}

.github {
    margin: 5px 0;
    padding: 5px 15px;
    color: #24292e  ;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.github:hover {
    text-decoration: underline;
}